<!DOCTYPE html>
<html>
<body>


<form method="post" action="ajoutClient.php">
	<fieldset>
		<legend>Ajouter Client </legend>
  Nom:<br>
  <input type="text" name="nom" required>
  <br>
  Prenom:<br>
  <input type="text" name="prenom" required><br>
  Mail:<br>
  <input type="email" name="email" required>
  <br>
   Points:<br>
  <input type="text" name="pts" required>
  <br>
   Sexe:<br>
  <input type="text" name="sexe" required>
  <br> 
  Numero :<br>
  <input type="number" name="numero" required>
  <br>
   Identifiant:<br>
  <input type="text" name="idc" required>
  <br> 
  Date de naissance:<br>
  <input type="text" name="dNaiss" required>
  <br>
  Adresse:<br>
  <input type="text" name="adr" required> 

   <input type="submit" value="Submit">
</fieldset>
</form>



</body>
</html>