<!DOCTYPE html>
<html>
<body>


<form method="post" action="ajouteruser.php">
  <fieldset>
    <legend>Ajouter User </legend>
  Identifiant:<br>
  <input type="text" name="idc" required>
  <br>
  Mail:<br>
  <input type="email" name="email" required>
  <br>
  Nom:<br>
  <input type="text" name="nom" required>
  <br>
  Prenom:<br>
  <input type="text" name="prenom" required>
  <br>
  Sexe:<br>
  <input type="text" name="sexe" required>
  <br> 
  Adresse:<br>
  <input type="text" name="adr" required> 
  <br>  
  Date de naissance:<br>
  <input type="text" name="dNaiss" required>
  <br>
  Numero :<br>
  <input type="number" name="numero" required>
   <input type="submit" value="Submit">
</fieldset>
</form>



</body>
</html>